
<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA NEO API</title>
</head>
<body>
    <h1>NASA NEO API Data</h1>
    <form action="/submit" method="post">
        <label for="message">City:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Submit</button>
    </form>
    {%if data%}
    
    {%endif%}
    
</body>
</html>